.heroContainer{
    background-color: #171717;
    height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: clamp(1.5rem, 0.78rem + 2.68vw, 4rem);
}

.heroTextContainer{
    display: flex;
    flex-direction: column;
    row-gap: clamp(1rem, 1.5vw,1.7rem);
    align-items: flex-start;
}
.heroDescriptionText{
    max-width: 89ch;
}
.buttonContainer {
    padding-top: 0.5rem;
}

.heroContainer { position: relative; }
.heroGlass { position: absolute; inset: 0; z-index: 0; }
.heroTextContainer { position: relative; z-index: 1; }

.heroGlass { position: absolute; inset: 0; z-index: 0; overflow: hidden; }