.ctaContainer {
    background-color: #171717;
    padding: clamp(1.5rem, 0.78rem + 2.68vw, 4rem);
    height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.ctaTextContainer{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    align-items: center;
}

.ctaButtonContainer{
    padding-top: 0.5rem;
}