.ctaContainer {
    background-color: #171717;
    padding: clamp(1.5rem, 0.78rem + 2.68vw, 4rem);
    height: 115svh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}

.ctaTextContainer{
    display: flex;
    flex-direction: column;
    row-gap: clamp(1rem, 1.5vw,1.7rem);
    text-align: center;
    align-items: center;
    z-index: 2;
}

[data-surface="web"] .ctaDesc {
    color: #ffffff;
}
.ctaButtonContainer{
    padding-top: 0.5rem;
}

.ctaGlass {
    position: absolute;
    inset: 0;
    z-index: 0;
}

.ctaGlass {
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}
